<%- include('partials/header.ejs') %>


<h1>About Me</h1>
<img class="profile" src="images/ODP.png" alt="cat profile">
<h3>Education</h3>
<ul class="education-list">
  <li>B.Sc in CSE from BRAC University</li>
  <li>HSC in Dhaka Board from CODA</li>
  <li>SSC in Dhaka Board from CODA</li>
</ul>

  <%- include('partials/footer.ejs') %>