<%- include('partials/header.ejs') %>

<h1 class="contact-heading">Contact Me</h1>
<form class="contact-form">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input comment-box" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>

<%- include('partials/footer.ejs') %>