<%- include("partials/header.ejs") %>


  <h1>Hello, I'm Mugdho</h1>

  <p>I'm a developer with hands-on React experience and a solid background in computer
    networking, who enjoys building clean, responsive interfaces and solving complex problems with a mix of
    analytical thinking and creativity, whether it's frontend or network architecture, I focus on making
    things work well.</p>

  <%- include("partials/footer.ejs") %>